<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subcategory) {
      <div>
        <h2 data-cy="subcategoryDetailsHeading"><span>Subcategory</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ subcategory.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ subcategory.name }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ subcategory.description }}</span>
          </dd>
          <!--<dt><span>Image</span></dt>
          <dd>
            @if (subcategory.image) {
              <div>
                <a (click)="openFile(subcategory.image, subcategory.imageContentType)">Open</a>
                {{ subcategory.imageContentType }}, {{ byteSize(subcategory.image) }}
              </div>
            }
          </dd>-->
          <dt><span>Image URL</span></dt>
          <dd>
            <a *ngIf="subcategory.imageUrl" [href]="subcategory.imageUrl" target="_blank">
              {{ subcategory.imageUrl }}
            </a>
          </dd>
          <dt><span>Category</span></dt>
          <dd>
            @if (subcategory.categoryId) {
              <a [routerLink]="['/category', subcategory.categoryId, 'view']">
                {{ subcategory.categoryId }}
              </a>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/subcategory', subcategory.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
