<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="machineOperator">
      <h2>Machine Operator</h2>

      <
      <dl class="row-md jh-entity-details">
        <dt>Machine ID</dt>
        <dd>
          <a [routerLink]="['/machine', machineOperator.machineId, 'view']">
            {{ machineOperator.machineId }}
          </a>
        </dd>

        <dt>Driver</dt>
        <dd>{{ machineOperator.driverName }}</dd>

        <dt>Contact</dt>
        <dd>{{ machineOperator.operatorContact }}</dd>

        <dt>Address</dt>
        <dd>{{ machineOperator.address }}</dd>

        <dt>Status</dt>
        <dd>
          <span class="badge" [ngClass]="machineOperator.active ? 'bg-success' : 'bg-danger'">
            {{ machineOperator.active ? 'Active' : 'Inactive' }}
          </span>
        </dd>

        <dt>License Date</dt>
        <dd>{{ machineOperator.licenseIssueDate }}</dd>

        <dt *ngIf="machineOperator.imageUrl">Image URL</dt>

        <dd *ngIf="machineOperator.imageUrl">
          <a [href]="machineOperator.imageUrl" target="_blank"> View Image </a>
        </dd>

        <dt *ngIf="machineOperator.docUrl">Document</dt>

        <dd *ngIf="machineOperator.docUrl">
          <a [href]="machineOperator.docUrl" target="_blank"> View Document </a>
        </dd>
      </dl>

      <button (click)="previousState()" class="btn btn-info">Back</button>

      <button type="button" [routerLink]="['/machine-operator', machineOperator.operatorId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>
        <span>Edit</span>
      </button>
    </div>
  </div>
</div>
