<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attachment) {
      <div>
        <h2 data-cy="attachmentDetailsHeading"><span>Attachment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ attachment.id }}</span>
          </dd>
          <dt><span>File Name</span></dt>
          <dd>
            <span>{{ attachment.fileName }}</span>
          </dd>
          <dt><span>File Type</span></dt>
          <dd>
            <span>{{ attachment.fileType }}</span>
          </dd>
          <dt><span>File Url</span></dt>
          <dd>
            <span>{{ attachment.fileUrl }}</span>
          </dd>
          <dt><span>Uploaded Date</span></dt>
          <dd>
            <span>{{ attachment.uploadedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Partner</span></dt>
          <dd>
            @if (attachment.partner) {
              <div>
                <a [routerLink]="['/partner', attachment.partner.id, 'view']">{{ attachment.partner.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Machine</span></dt>
          <dd>
            @if (attachment.machine) {
              <div>
                <a [routerLink]="['/machine', attachment.machine.id, 'view']">{{ attachment.machine.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/attachment', attachment.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
