<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-booking-heading" data-cy="BookingCreateUpdateHeading">Create or edit a Booking</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_startDateTime">Start Date Time</label>
          <div class="d-flex">
            <input
              id="field_startDateTime"
              data-cy="startDateTime"
              type="datetime-local"
              class="form-control"
              name="startDateTime"
              formControlName="startDateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('startDateTime')!.invalid && (editForm.get('startDateTime')!.dirty || editForm.get('startDateTime')!.touched)) {
            <div>
              @if (editForm.get('startDateTime')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('startDateTime')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDateTime">End Date Time</label>
          <div class="d-flex">
            <input
              id="field_endDateTime"
              data-cy="endDateTime"
              type="datetime-local"
              class="form-control"
              name="endDateTime"
              formControlName="endDateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('endDateTime')!.invalid && (editForm.get('endDateTime')!.dirty || editForm.get('endDateTime')!.touched)) {
            <div>
              @if (editForm.get('endDateTime')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('endDateTime')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (bookingStatus of bookingStatusValues; track $index) {
              <option [value]="bookingStatus">{{ bookingStatus }}</option>
            }
          </select>
          @if (editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_additionalDetails">Additional Details</label>
          <input
            type="text"
            class="form-control"
            name="additionalDetails"
            id="field_additionalDetails"
            data-cy="additionalDetails"
            formControlName="additionalDetails"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_worksiteImageUrl">Worksite Image Url</label>
          <input
            type="text"
            class="form-control"
            name="worksiteImageUrl"
            id="field_worksiteImageUrl"
            data-cy="worksiteImageUrl"
            formControlName="worksiteImageUrl"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customerLat">Customer Lat</label>
          <input
            type="number"
            class="form-control"
            name="customerLat"
            id="field_customerLat"
            data-cy="customerLat"
            formControlName="customerLat"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customerLong">Customer Long</label>
          <input
            type="number"
            class="form-control"
            name="customerLong"
            id="field_customerLong"
            data-cy="customerLong"
            formControlName="customerLong"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *jhiHasAnyAuthority="'ROLE_ADMIN'">
          >
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_machine">Machine</label>
          <select
            class="form-control"
            id="field_machine"
            data-cy="machine"
            name="machine"
            formControlName="machine"
            [compareWith]="compareMachine"
          >
            <option [ngValue]="null"></option>
            @for (machineOption of machinesSharedCollection; track $index) {
              <option [ngValue]="machineOption">{{ machineOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
